# Check the file path of sales data and import packages

## Check the file path

In [2]:
%pwd

'/gpfs52/home/wuy63/sp23-bridgestone-team7'

In [3]:
%cd /data/p_dsi/teams2023/bridgestone_data/data/

/gpfs52/data/p_dsi/teams2023/bridgestone_data/data

In [4]:
%ls

individual.csv*         sales_20160630.csv*  sales_20171130.csv*
individual_sample.csv*  sales_20160731.csv*  sales_20171231.csv*
product.csv*            sales_20160831.csv*  sales_20180131.csv*
sales_20150430.csv*     sales_20160930.csv*  sales_20180228.csv*
sales_20150531.csv*     sales_20161031.csv*  sales_20180331.csv*
sales_20150630.csv*     sales_20161130.csv*  sales_20180430.csv*
sales_20150731.csv*     sales_20161231.csv*  sales_20180531.csv*
sales_20150831.csv*     sales_20170131.csv*  sales_20180630.csv*
sales_20150930.csv*     sales_20170228.csv*  sales_20180731.csv*
sales_20151031.csv*     sales_20170331.csv*  sales_20180831.csv*
sales_20151130.csv*     sales_20170430.csv*  sales_20180930.csv*
sales_20151231.csv*     sales_20170531.csv*  sales_20181031.csv*
sales_20160131.csv*     sales_20170630.csv*  sales_data_sample.csv*
sales_20160229.csv*     sales_20170731.csv*  store.csv*
sales_20160331.csv*     sales_20170831.csv*  vehicle.csv*
sales_20160430.csv*     sales_20170930.csv*  vehicle_sample.csv*
sales_20160531.csv*     sales_20171031.csv*

## Import packages

In [1]:
import pandas as pd
import numpy as np
#import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
import glob

# 1. Load product data and extract ARTICLE_ID for tire sales

## 1.1 Load product data

In [2]:
product = pd.read_csv('/data/p_dsi/teams2023/bridgestone_data/data/product.csv', sep = '|')

In [44]:
product

,ARTICLE_ID,PROD_GROUP_CODE,PROD_GROUP_DESC,CATEGORY_CODE,CATEGORY_DESC,SEGMENT_CODE,SEGMENT_DESC,CLASS_CODE,CLASS_DESC,DISCOUNT_FLAG,CROSS_SECTION,ASPECT_RATIO,RIM_SIZE
0,45438,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,37.0,S/T Performance Tires,N,195,60,14
1,20257,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,37.0,S/T Performance Tires,N,225,60,16
2,53872,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,37.0,S/T Performance Tires,N,215,60,14
3,20192,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,37.0,S/T Performance Tires,N,195,65,15
4,45500,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,37.0,S/T Performance Tires,N,175,70,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56837,7053192,4.0,Services,117974.0,EV/Hybrid Systems,117976.0,EV/Hybrid Inspections & Services,117979.0,Other EV/Hybrid Services,N,NaN,NaN,NaN
56838,7001052,4.0,Services,81.0,Miscellaneous Services,115.0,Employee Discounts,508.0,Employee Discounts Services,E,NaN,NaN,NaN
56839,7001053,3.0,Other,6.0,Other,20580.0,Employee Tire Discount,125366.0,Teammate Best Tire Savings Discount,E,NaN,NaN,NaN
56840,7053195,4.0,Services,117974.0,EV/Hybrid Systems,117976.0,EV/Hybrid Inspections & Services,117979.0,Other EV/Hybrid Services,N,NaN,NaN,NaN
56841,7053191,4.0,Services,117974.0,EV/Hybrid Systems,117976.0,EV/Hybrid Inspections & Services,117979.0,Other EV/Hybrid Services,N,NaN,NaN,NaN

In [45]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56842 entries, 0 to 56841
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ARTICLE_ID       56842 non-null  int64
 1   PROD_GROUP_CODE  56818 non-null  float64
 2   PROD_GROUP_DESC  56818 non-null  object
 3   CATEGORY_CODE    56818 non-null  float64
 4   CATEGORY_DESC    56818 non-null  object
 5   SEGMENT_CODE     56818 non-null  float64
 6   SEGMENT_DESC     56818 non-null  object
 7   CLASS_CODE       56818 non-null  float64
 8   CLASS_DESC       56818 non-null  object
 9   DISCOUNT_FLAG    56818 non-null  object
 10  CROSS_SECTION    35670 non-null  object
 11  ASPECT_RATIO     35665 non-null  object
 12  RIM_SIZE         35504 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 5.6+ MB

## 1.2 Select tire sales data

In [46]:
tire_sales = product[(product["CATEGORY_CODE"] == 44.0) | (product["CATEGORY_CODE"] == 26.0)]
tire_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32563 entries, 0 to 56822
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ARTICLE_ID       32563 non-null  int64
 1   PROD_GROUP_CODE  32563 non-null  float64
 2   PROD_GROUP_DESC  32563 non-null  object
 3   CATEGORY_CODE    32563 non-null  float64
 4   CATEGORY_DESC    32563 non-null  object
 5   SEGMENT_CODE     32563 non-null  float64
 6   SEGMENT_DESC     32563 non-null  object
 7   CLASS_CODE       32563 non-null  float64
 8   CLASS_DESC       32563 non-null  object
 9   DISCOUNT_FLAG    32563 non-null  object
 10  CROSS_SECTION    31964 non-null  object
 11  ASPECT_RATIO     31959 non-null  object
 12  RIM_SIZE         31963 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 3.5+ MB

## 1.3 Extract Article_ID

In [47]:
# Extract the ARTICLE_ID from tire_sales
ARTICLE_ID_list = tire_sales["ARTICLE_ID"].unique().tolist()

In [48]:
#print(ARTICLE_ID_list)
len(ARTICLE_ID_list)

32563

# 2. Load sales data and subset all tire sales

## 2.1 Load sales data

In [29]:
# Get disired files
csv_files = glob.glob('/data/p_dsi/teams2023/bridgestone_data/data/*sales_2015*.csv')

nrow_tire_sale = []
nrow_total_sale = []
read_list = []
# Loop through the list of file names and read in each file
master_tire_sales_2015 = pd.DataFrame()
for file in csv_files:
    sales_2015 = pd.read_csv(file, sep = "|")
    read_list.append(file)
    nrow_total_sale.append(len(sales_2015))
    tire_sales_2015 = sales_2015[sales_2015['ARTICLE_ID'].isin(ARTICLE_ID_list)]
    nrow_tire_sale.append(len(tire_sales_2015))
    master_tire_sales_2015 = pd.concat([master_tire_sales_2015, tire_sales_2015])
print(nrow_tire_sale)
print(nrow_total_sale)
print(read_list)

[673029, 667178, 810755, 618789, 689657, 678131, 699409, 645751, 675639]
[16030135, 16505764, 15394337, 14673428, 15407864, 16475323, 15677601, 14078243, 16486393]
['/data/p_dsi/teams2023/bridgestone_data/data/sales_20150731.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20150531.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20151130.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20150430.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20150930.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20150831.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20151031.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20151231.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20150630.csv']

In [31]:
master_tire_sales_2015.to_csv("/data/p_dsi/teams2023/team7/tire_sales_2015.csv")

| tire sale | total sale |   year   |
|---------:|----------:|:--------:|
|   673029 |  16030135 | 2015-07  |
|   667178 |  16505764 | 2015-05  |
|   810755 |  15394337 | 2015-11  |
|   618789 |  14673428 | 2015-04  |
|   689657 |  15407864 | 2015-09  |
|   678131 |  16475323 | 2015-08  |
|   699409 |  15677601 | 2015-10  |
|   645751 |  14078243 | 2015-12  |
|   675639 |  16486393 | 2015-06  |

In [32]:
# Get disired files
csv_files = glob.glob('/data/p_dsi/teams2023/bridgestone_data/data/*sales_2016*.csv')

nrow_tire_sale = []
nrow_total_sale = []
read_list = []
# Loop through the list of file names and read in each file
master_tire_sales_2016 = pd.DataFrame()
for file in csv_files:
    sales_2016 = pd.read_csv(file, sep = "|")
    read_list.append(file)
    nrow_total_sale.append(len(sales_2016))
    tire_sales_2016 = sales_2016[sales_2016['ARTICLE_ID'].isin(ARTICLE_ID_list)]
    nrow_tire_sale.append(len(tire_sales_2016))
    master_tire_sales_2016 = pd.concat([master_tire_sales_2016, tire_sales_2016])
print(nrow_tire_sale)
print(nrow_total_sale)
print(read_list)

[629539, 671428, 727840, 647754, 693659, 688339, 726620, 745151, 676356, 787057, 667905, 617173]
[15074908, 15480853, 15153757, 15008685, 15537579, 15462512, 15650857, 15019941, 15524013, 14882502, 15480584, 14737569]
['/data/p_dsi/teams2023/bridgestone_data/data/sales_20160131.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20160331.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20160930.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20160430.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20160831.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20161031.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20160630.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20161231.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20160731.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20161130.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20160531.csv', '/data/p_dsi/teams2023/bridgestone_data/data/sales_20160229.csv']

In [33]:
master_tire_sales_2016.to_csv("/data/p_dsi/teams2023/team7/tire_sales_2016.csv")

| tire sale | total sale | year    |
|----------:|----------:|:--------|
|    629539 |  15074908 | 2016_01 |
|    671428 |  15480853 | 2016_03 |
|    727840 |  15153757 | 2016_09 |
|    647754 |  15008685 | 2016_04 |
|    693659 |  15537579 | 2016_08 |
|    688339 |  15462512 | 2016_10 |
|    726620 |  15650857 | 2016_06 |
|    745151 |  15019941 | 2016_12 |
|    676356 |  15524013 | 2016_07 |
|    787057 |  14882502 | 2016_11 |
|    667905 |  15480584 | 2016_05 |
|    617173 |  14737569 | 2016_02 |

In [ ]:
# Get disired files
csv_files = glob.glob('/data/p_dsi/teams2023/bridgestone_data/data/*sales_2017*.csv')

nrow_tire_sale = []
nrow_total_sale = []
read_list = []
# Loop through the list of file names and read in each file
master_tire_sales_2017 = pd.DataFrame()
for file in csv_files:
    sales_2017 = pd.read_csv(file, sep = "|")
    read_list.append(file)
    nrow_total_sale.append(len(sales_2017))
    tire_sales_2017 = sales_2017[sales_2017['ARTICLE_ID'].isin(ARTICLE_ID_list)]
    nrow_tire_sale.append(len(tire_sales_2017))
    master_tire_sales_2017 = pd.concat([master_tire_sales_2017, tire_sales_2017])
print(nrow_tire_sale)
print(nrow_total_sale)
print(read_list)

In [ ]:
master_tire_sales_2017.to_csv("/data/p_dsi/teams2023/team7/tire_sales_2017.csv")

| tire sale | total sale | year    |
|----------:|----------:|:--------|
|    711740 |  15602358 | 2017_08 |
|    651629 |  15388366 | 2017_07 |
|    658973 |  15760198 | 2017_05 |
|    629243 |  14041986 | 2017_02 |
|    618192 |  14663301 | 2017_01 |
|    714905 |  15881014 | 2017_03 |
|    690634 |  15800806 | 2017_10 |
|    730871 |  15885612 | 2017_06 |
|    689522 |  14876691 | 2017_09 |
|    655209 |  14542920 | 2017_12 |
|    630170 |  14912797 | 2017_04 |
|    787040 |  15591791 | 2017_11 |

In [ ]:
# Get disired files
csv_files = glob.glob('/data/p_dsi/teams2023/bridgestone_data/data/*sales_2018*.csv')

nrow_tire_sale = []
nrow_total_sale = []
read_list = []
# Loop through the list of file names and read in each file
master_tire_sales_2018 = pd.DataFrame()
for file in csv_files:
    sales_2018 = pd.read_csv(file, sep = "|")
    read_list.append(file)
    nrow_total_sale.append(len(sales_2018))
    tire_sales_2018 = sales_2018[sales_2018['ARTICLE_ID'].isin(ARTICLE_ID_list)]
    nrow_tire_sale.append(len(tire_sales_2018))
    master_tire_sales_2018 = pd.concat([master_tire_sales_2018, tire_sales_2018])
print(nrow_tire_sale)
print(nrow_total_sale)
print(read_list)

In [ ]:
master_tire_sales_2018.to_csv("/data/p_dsi/teams2023/team7/tire_sales_2018.csv")

| tire sale | total sale |   year  |
|---------:|----------:|:-------:|
|   645927 |  15197671 | 2018_07 |
|   670846 |  15630241 | 2018_08 |
|   656858 |  15942240 | 2018_05 |
|   606078 |  14449096 | 2018_04 |
|   722685 |  15888468 | 2018_06 |
|   611146 |  13247533 | 2018_02 |
|   600992 |  14986650 | 2018_01 |
|   682535 |  15432276 | 2018_10 |
|   718014 |  14804703 | 2018_09 |
|   734588 |  16057725 | 2018_03 |

# 3. Resample each sale.csv and combine them into a master dataframe

### *Note*
### The total number of tire sales from 2015-2018 is 29254956, and we want to have 100000 samples in our master sample data. The ratio calculation is 100000/29254956 = 0.00341822424.

In [5]:
master_df = pd.DataFrame()
file_names = glob.glob('/data/p_dsi/teams2023/team7/*tire_sales*.csv')

for file_name in file_names:
    file = pd.read_csv(file_name, sep = ",")
    file_sampled = file.sample(frac=0.00341822424, replace=False, random_state=1)
    master_df = pd.concat([master_df, file_sampled])

In [8]:
master_df.to_csv("/data/p_dsi/teams2023/team7/sales_sample.csv")

# 4. Join sales_sample.csv with vehicle.csv, store.csv, individual.csv and write master_sample.csv

## 4.1 Read in data

In [3]:
tire_sales_sampled = pd.read_csv("/data/p_dsi/teams2023/team7/sales_sample.csv")

In [5]:
individual = pd.read_csv("/data/p_dsi/teams2023/bridgestone_data/data/individual.csv")
# product read before
store = pd.read_csv("/data/p_dsi/teams2023/bridgestone_data/data/store.csv", sep = "|")
vehicle = pd.read_csv("/data/p_dsi/teams2023/bridgestone_data/data/vehicle.csv", sep = "|")

## 4.2 Merge

In [8]:
final_df = tire_sales_sampled.merge(individual, left_on = 'INDIV_ID', right_on = "MZB_INDIV_ID", how = 'left')

In [9]:
final_df = final_df.merge(product, on = "ARTICLE_ID", how = 'left')

In [10]:
final_df = final_df.merge(store, on = "STORE_ID", how = 'left')

In [11]:
final_df = final_df.merge(vehicle, on = "VEHICLE_ID", how = 'left')

## 4.3 Sanity check

In [37]:
pd.set_option('display.max_columns', None)

In [38]:
final_df.sample(10)

,Unnamed: 0.1,Unnamed: 0,STORE_ID,TRAN_ID,DATE,ARTICLE_ID,INDIV_ID,VEHICLE_ID,UNITS,SALES,MZB_INDIV_ID,EMAIL_OPTIN_IND,AH1_RES_BUS_INDC,SUPP1_BUS_PANDER,PROD_GROUP_CODE,PROD_GROUP_DESC,CATEGORY_CODE,CATEGORY_DESC,SEGMENT_CODE,SEGMENT_DESC,CLASS_CODE,CLASS_DESC,DISCOUNT_FLAG,CROSS_SECTION,ASPECT_RATIO,RIM_SIZE,STATE_CODE,ZIP_CODE,MSA,MAKE,MODEL,SUB_MODEL,MODEL_YEAR
4871,1967972,14748426,16918,992273350,2017-05-04,108911,257125587.0,956741790,4.0,789.96,NaN,NaN,NaN,NaN,5.0,Tires,26.0,Passenger Tires,30.0,P Metric Light Truck Tires,42.0,All Terrain Tires,N,275,55,20,MN,55811,"DULUTH,MN",CHEVROLET,TAHOE LS,NaN,2015.0
49922,6742976,10262351,354549,990829890,2016-11-26,7089250,295914547.0,935319652,0.0,0.00,295914547.0,Y,R,N,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,38.0,Performance All-Season,Y,NONE,NONE,NONE,NH,3865,"BOSTON,MA",TOYOTA,CAMRY XLE,XLE,2010.0
87340,5485468,6497464,353226,990807080,2018-09-24,6251,274261756.0,975935254,1.0,83.69,274261756.0,Y,R,N,5.0,Tires,26.0,Passenger Tires,27.0,Touring,36.0,Car & Minivan All-Season,N,205,55,16,NC,27587,"RALEIGH,NC",VOLKSWAGEN,PASSAT SE,NaN,2014.0
71839,3547508,2350522,326687,990940670,2015-08-19,3571,311347170.0,941640574,4.0,411.96,311347170.0,Y,R,N,5.0,Tires,44.0,Light Truck Tires,46.0,Recreational Tires,48.0,Highway Tires,N,235,85,16,TX,75165,"DALLAS,TX",FORD,F-250 SUPER DUTY XL,XL,2004.0
23262,207229,3693899,6785,992093610,2017-08-09,81609,255987959.0,879881292,4.0,839.96,NaN,NaN,NaN,NaN,5.0,Tires,26.0,Passenger Tires,30.0,P Metric Light Truck Tires,42.0,All Terrain Tires,N,275,65,18,KS,66046,"LAWRENCE,K",NISSAN,TITAN LE,LE 5.6L King/Crew Cab,2006.0
16410,1800632,11241075,29416,991690960,2017-05-12,120964,252182675.0,959146881,2.0,373.98,NaN,NaN,NaN,NaN,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,40.0,Ultra High Performance Summer,N,245,45,19,FL,34994,FORT PIERC,HYUNDAI,EQUUS SIGNATURE,Signature,2012.0
31333,3867147,11009801,654841,992212510,2016-10-06,15335,275995260.0,926792953,1.0,0.96,275995260.0,Y,R,N,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,38.0,Performance All-Season,N,225,65,16,TX,78148,SAN ANTONI,DODGE,GRAND CARAVAN SE,SE,2013.0
89171,1664343,8028115,22373,992543390,2018-05-24,97793,532456326.0,970889215,4.0,515.96,NaN,NaN,NaN,NaN,5.0,Tires,26.0,Passenger Tires,80597.0,P-Metric CUV/SUV,81009.0,CUV/SUV Highway All-Season,N,245,70,16,VA,23452,NORFOLK-NE,TOYOTA,TUNDRA SR5,SR5,2002.0
78463,477391,11768728,650145,992640290,2018-07-30,12598,410579411.0,954900895,2.0,319.98,410579411.0,Y,R,N,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,40.0,Ultra High Performance Summer,N,245,40,19,CA,92653,"ANAHEIM,CA",HONDA,ACCORD EX,EX,2009.0
70053,2794693,397487,24058,992515930,2015-09-29,7099265,313362038.0,942659381,1.0,182.99,NaN,NaN,NaN,NaN,5.0,Tires,26.0,Passenger Tires,31.0,Other Passenger Tires,43.0,Other Passenger Tires,N,NONE,NONE,NONE,OH,43230,"COLUMBUS,O",CHEVROLET,IMPALA LTZ,LTZ,2012.0

In [35]:
print("tire_sales_sampled:\n", tire_sales_sampled.columns, 
      "\n", "\nindividual:\n", individual.columns, 
      "\n", "\nproduct:\n", product.columns, 
      "\n", "\nstore:\n", store.columns, 
      "\n", "\nvehicle:\n", vehicle.columns)

print("\nTotal number of columns:", len(tire_sales_sampled.columns) 
      + len(individual.columns)
      + len(product.columns)
      + len(store.columns)
      + len(vehicle.columns))

tire_sales_sampled:
 Index(['Unnamed: 0.1', 'Unnamed: 0', 'STORE_ID', 'TRAN_ID', 'DATE',
       'ARTICLE_ID', 'INDIV_ID', 'VEHICLE_ID', 'UNITS', 'SALES'],
      dtype='object')

individual:
 Index(['MZB_INDIV_ID', 'EMAIL_OPTIN_IND', 'AH1_RES_BUS_INDC',
       'SUPP1_BUS_PANDER'],
      dtype='object')

product:
 Index(['ARTICLE_ID', 'PROD_GROUP_CODE', 'PROD_GROUP_DESC', 'CATEGORY_CODE',
       'CATEGORY_DESC', 'SEGMENT_CODE', 'SEGMENT_DESC', 'CLASS_CODE',
       'CLASS_DESC', 'DISCOUNT_FLAG', 'CROSS_SECTION', 'ASPECT_RATIO',
       'RIM_SIZE'],
      dtype='object')

store:
 Index(['STORE_ID', 'STATE_CODE', 'ZIP_CODE', 'MSA'], dtype='object')

vehicle:
 Index(['VEHICLE_ID', 'MAKE', 'MODEL', 'SUB_MODEL', 'MODEL_YEAR'], dtype='object')

Total number of columns: 36

In [34]:
print("final_df:\n", final_df.columns)
print("\nTotal number of columns:", len(final_df.columns))

final_df:
 Index(['Unnamed: 0.1', 'Unnamed: 0', 'STORE_ID', 'TRAN_ID', 'DATE',
       'ARTICLE_ID', 'INDIV_ID', 'VEHICLE_ID', 'UNITS', 'SALES',
       'MZB_INDIV_ID', 'EMAIL_OPTIN_IND', 'AH1_RES_BUS_INDC',
       'SUPP1_BUS_PANDER', 'PROD_GROUP_CODE', 'PROD_GROUP_DESC',
       'CATEGORY_CODE', 'CATEGORY_DESC', 'SEGMENT_CODE', 'SEGMENT_DESC',
       'CLASS_CODE', 'CLASS_DESC', 'DISCOUNT_FLAG', 'CROSS_SECTION',
       'ASPECT_RATIO', 'RIM_SIZE', 'STATE_CODE', 'ZIP_CODE', 'MSA', 'MAKE',
       'MODEL', 'SUB_MODEL', 'MODEL_YEAR'],
      dtype='object')

Total number of columns: 33

## 4.4 Write out

In [36]:
final_df.to_csv("/data/p_dsi/teams2023/team7/master_sample.csv")